.list-table {
  width: 100%;
  margin: 1rem 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

}

table caption {
  font-size: 1.5em;
  margin: 1em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  word-break: break-word;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
