<section class="new-training" fxLayout fxLayoutAlign="center" fxLayoutGap="20px">
  <form (ngSubmit)="onStartTraining(formData)" #formData="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field appearance="fill">
          <mat-select placeholder="Select training" required ngModel name="training">
            <mat-option *ngFor="let training of trainings" [value]="training.id">
              {{training.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="accent" [disabled]="formData.invalid">Start</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>

